[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target
 
[Service]   
Environment="ZOOKEEPER_HOME=/usr/local/zookeeper"
Environment="ZOO_LOG_DIR=/var/log/zookeeper"
Environment="ZOOPIDFILE=/var/run/zookeeper/zookeeper_server.pid"
Type=forking
WorkingDirectory=/usr/local/zookeeper
User=zookeeper
Group=hadoop
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/zookeeper/
ExecStartPre=/bin/chown -R zookeeper:hadoop /var/run/zookeeper/
ExecStart=/usr/local/zookeeper/bin/zkServer.sh start /etc/zookeeper/conf/zoo.cfg
ExecStop=/usr/local/zookeeper/bin/zkServer.sh stop /etc/zookeeper/conf/zoo.cfg
ExecReload=/usr/local/zookeeper/bin/zkServer.sh restart /etc/zookeeper/conf/zoo.cfg
TimeoutSec=30
Restart=on-failure
 
[Install]
WantedBy=default.target
